<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Files</title>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/retrieve_data.css' %}">
    <script src="{% static '/js/retrieve_datajs.js' %}"></script>   
</head>
<body>



<center>
<div id="top-bar" >
  
    <div id="top-bar-inner">
      
     <a href="https://iyte.edu.tr" id="top-bar-callout" title="İYTE" target="_blank">İYTE</a>
          
      <div class="menu-top-menu-container">
        <ul id="menu-top-menu" class="top-menu">
          <a href="https://biomechlab.iyte.edu.tr/en/link-target/">English</a>
           <a >/</a>
          <a href="https://biomechlab.iyte.edu.tr/" >Türkçe</a>
      </ul>
    </div> 
      
    </div><!-- /top-bar-inner -->
    
  </div><!-- /top-bar -->
  <br><br>
 <div class="wrap" >
  <header class="header">
      <div class="container"  id="headerimage">

          <img src="{% static '/images/headertr.png' %}" alt="My image">
        </a>
        <div class="hidden-xs">
          <a class="home-link" href="https://orthoload.com/" title="OrthoLoad" rel="home">   
          </a>
        </div>

      </div>
      
    </header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 45px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://biomechlab.iyte.edu.tr/" style="height: 45px; color: white;">Ana Sayfa </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color: white;" >
            Takım

          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #2b2b2b;">
            <a class="nav-link" href="https://biomechlab.iyte.edu.tr/kisiler/" >Lab Üyeleri</a>
           <a class="nav-link" href="https://biomechlab.iyte.edu.tr/is-birlikleri/" >İş Birlikleri</a> 
         </div>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'retrieveData' %}" style="color: white;">Veriseti</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://biomechlab.iyte.edu.tr/ulasim/" style="color: white;">Ulaşım</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://biomechlab.iyte.edu.tr/#link-target" style="color: white;">Araştırmamıza Katılın</a>
      </li>

    </ul>

    <li class="nav-item">
      <a class="nav-link" href="#" style="float: right;color: white;">
        {% block content %}
        {% if user.is_authenticated %}
        Hoşgeldiniz {{ user.username }}!
      
        <a class="nav-link" href="{% url 'logout' %}" style="height: 45px; float: right; color: white;"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
        <a class="nav-link" href="{% url 'uploadFile' %}" style="height: 45px;  float: right; color: white;"><i class="fas fa-upload"></i> Dosya Yükleme</a>
         <a class="nav-link" href="{% url 'blandAltman' %}" style="height: 45px;  float: right; color: white;">Bland-Altman</a>
        {% else %}
        <p style="margin-top: 6px;">Giriş yapmadınız</p>
        <a class="nav-link" href="{% url 'login' %}" style="height: 45px; margin-top: 9px; float: right; color: white;"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
        {% endif %}
        {% endblock %}

      </a>
    </li>
  </div>
</nav>

<div class="jumbotron" style="height: 700px;">
    <h3>Giriş Yap</h3>
		<form method="post">
		  {% csrf_token %}
		  {{ form.as_p }}
		  <button type="submit">Giriş Yap</button>

		</form>
    <br>
    <button type="submit" onclick="window.location.href='{% url 'password_reset' %}';">Şifremi Unuttum</button>
</div>
